<div #test class="gesture__zone" (pan)="onPan($event)">
  <h1>Pan Gesture</h1>
</div>

@for (indicator of indicators.gestureIndicators; track indicator) {
	<div
	  class="gesture__indicator"	  
	  [style.top.px]="indicator.y - (indicator.size/2)"
	  [style.left.px]="indicator.x - (indicator.size/2)"
	  [style.width.px]="indicator.size"
	  [style.height.px]="indicator.size"
	  [style.transform]="indicator.transform">
	</div>
}


<app-sunburst
	*ngIf="(showSunburstAtPoint$ | async)!.show"
	[ngStyle]="currentStyles"
/>
<graph [nodes]="nodes" [links]="links"></graph>